<h4 class="commentuser"><%= @comment.user.name %></h4>
<p class="text"><%= @comment.comment %><comment class=""></comment></p>
<span class="sub-text"><%= local_time_ago(@comment.created_at) %></span>
