<%= form_tag update_post_path(@user, @post.id), multipart: true, class: "createpost", id: "post-edit-form", remote: true do %>
<p id="edit_err_msg"></p>
   <textarea name="content" id="content" cols="30" rows="5" placeholder="Wassup with today...."><%= @post.content %></textarea>
   <button id="edit-submit">Submit</button>
 <% end %>

 <script>
 $(document).on("click", "#edit-submit", function(e){
  if($('#content').val() == "")
  {
   $('#edit_err_msg').html("Type something");
   e.preventDefault();
  }
  else {
   $('#edit_err_msg').html("");
  }
 });
 </script>
