<%= render 'users/header'%>
<div class="container">
  <div class="content">
   <%= form_tag create_post_path(@user), multipart: true, class: "createpost", id: "post-form", remote: true do %>
    <p id="err_msg"></p>
      <textarea name="content" id="content" cols="30" rows="5" placeholder="Wassup with today...." required></textarea>
      <button id="submit">Submit</button>
    <% end %>
  </div>

<div class="container" id="all-post">
<% if @posts.present? %>
<% @posts.each do |post| %>
<% @post = post %>
 <%= render "post_card", locals: {user: @user, post: @post} %>
 <% end %>
 <% end %>
</div>
<script>
$(document).on("click", "#submit", function(e){
 if($('#content').val() == "")
 {
  $('#err_msg').html("Type something");
  e.preventDefault();
 }
 else {
  $('#err_msg').html("");
 }
});
</script>
