<div class="container">
<% if @posts.present? %>
<% @posts.each do |post| %>
  <div class="content">
    <div class="desc">
      <h1><%= post.user.email %></h1>
      <p><%= post.content %></p>

      <div class="share">
        <ul>
          <li>
            <a href="#">
              <i class="fa fa-heart-o"></i> 569 Likes
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-comment-o"></i> 1 Comments
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-pencil-square-o"></i> Edit
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-trash-o "></i> Delete
            </a>
          </li>
        </ul>
        <form class="commentbox">
          <input type="text" placeholder="Type a comment">
          </input>
          <button>Comment</button>
        </form>
      </div>
      <div class="comment-section">
          <h4 class="commentuser">Anand Kumar</h4>
          <p class="text">Best Blog Post <comment class=""></comment></p>
          <span class="sub-text"><%= local_time_ago(post.created_at) %></span>
    </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
