<div class="container">
  <div class="nav">
  </div>
  <div class="content">
   <%= form_tag create_post_path(@user), multipart: true, class: "createpost", id: "post-form", remote: true do %>
      <textarea name="content" id="content" cols="30" rows="5" placeholder="Type Your Blog"></textarea>
      <button>Submit</button>
    <% end %>
  </div>

<div class="container" id="all-post">
<% if @posts.present? %>
<% @posts.each do |post| %>
<% @post = post %>
 <%= render "post_card", locals: {user: @user, post: @post} %>
 <% end %>
 <% end %>
</div>
